<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Welcome {{user_name}}</h2>
        <li>{{car}}</li>
        <li>{{car[0]}}</li>
        <li>{{car[1]}}</li>
        <li>{{car[2]}}</li>
        <p>{{profiles}}</p>
        <p>Age:{{profiles['age']}}</p>
    </body>
</html>